.task-02 {
  display: none;
  background-color: black;
  color: white;
  margin-top: 10px;
}

.task-03 {
  width: 200px;
  height: 150px;
  background-color: aqua;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.task-04 {
  width: 200px;
  height: 100px;
  background-color: aqua;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-05 {
  width: 200px;
  background-color: aqua;
  margin-top: 10px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
